{% extends "base.html" %}

{% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Siswa Table</h1>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>id_siswa</th>
                            <th>nama_lengkap</th>
                            <th>kelas</th>
                            <th>gender</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for data in students %}
                            <tr>
                                <td>{{data.id_siswa}}</td>
                                <td> {{data.nama_lengkap}} </td>
                                <td> {{data.kelas}} </td>
                                <td> {{data.gender}} </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- /.container-fluid -->

</div>
<!-- End of Main Content -->
{% endblock %}